/* #region general*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap%27');

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    overflow-x: hidden;
    
    --col_acc_1: #20C20E;
    --col_acc_2: #f4ec04;

    --col_txt_1: #f5deb3;

    --col_bg_1: #1a1a1a;
    --col_bg_2: #2a2a2a;
    --col_bg_3: #3a3a3a;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'lato', sans-serif;
    font-size: x-large;
    color: var(--col_acc_1);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'lato', sans-serif;
    font-size: x-large;
    font-weight: lighter;
    color: var(--col_txt_1);

    margin-bottom: 10px;
}

p {
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: var(--col_txt_1);
}

a {
    text-decoration: none;
    
}

/* #endregion*/

/* #region index */

#index-grid-wrapper {
    height: fit-content;
    width: 100vw;
    background-color: var(--col_bg_2);
    
    display: grid;
    grid-template-areas: 
    "header"
    "intro"
    "slidein"
    "text"
    "img1"
    "what-we-do"
    "img2"
    "footer";
}

#index-intro {
    grid-area: intro;
    
    height: fit-content;
    width: 100vw;

    padding: 20px;

    background-color: var(--col_bg_2);
}

#index-slidein {
    grid-area: slidein;

    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: 100vw;

    background-color: var(--col_bg_3);
}

#index-slidein-div {

    position: relative;

    
    height: fit-content;
    width: 80vw;
    background-color: var(--col_bg_2);
}

#index-slidin-text {

    width: 100%;
    height: max-content;
    padding: 10px;
}

#index-ceo-img {
    width: 100%;
    height: auto;
}

#index-text {
    grid-area: text;
    width: 100vw;
    height: fit-content;
    padding: 20px;
    background-color: var(--col_bg_2);
}

#index-hand {
    grid-area: img1;

    display: flex;
    flex-direction: column;

    justify-content: center;    
    align-items: center;

    padding: 20px;
    gap: 20px;
    width: 100vw;
}

#index-hand-img {
    width: 70%;
    height: auto;
}

#index-what-we-do {
    grid-area: what-we-do;
    width: 100vw;
    height: fit-content;
    background-color: var(--col_bg_2);
    padding: 10px;
}

#index-robot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
}

#index-robot-img {
    width: 70%;
    height: auto;
}

/* #endregion */

/* #region index desktop*/

@media only screen and (min-width: 768px) {

    #index-grid-wrapper {
        height: fit-content;
        width: 100vw;

        display: grid;
        grid-template-areas: 
        "header header"
        "img1 intro"
        "img1 text"
        "what-we-do slidein"
        "img2 slidein"
        "footer footer";
    }

    #index-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;

    }
    
    #index-intro p {
        width: 60%;
    }

    #index-slidein {
        height: 100%;
        width: 50vw;

        background-color: var(--col_bg_3);
    }
    
    #index-slidein-div {
        width: 20vw;
        height: fit-content;
    }
    
    
    #index-text {
        grid-area: text;
        width: 50vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #index-text p {
        width: 60%;
    }
    
    #index-hand {
        width: 50vw;
    }

    #index-what-we-do {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;

        background-color: var(--col_bg_3);
    }

    #index-what-we-do p {
        width: 60%;
    }

    #index-robot {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;
        height: fit-content;
        padding: 20px;
        gap: 20px;

        background-color: var(--col_bg_3);
    }
    
    #index-robot-img {
        width: 50%;
        height: auto;
    }
}

/* #endregion */

/* #region jobs */

#jobs-grid-wrapper {
    height: fit-content;
    width: 100vw;
    background-color: var(--col_bg_2);
    
    display: grid;
    grid-template-areas: 
    "header"
    "intro"
    "carousel"
    "footer";
}

#jobs-intro {
    grid-area: intro;
    width: 100vw;
    height: fit-content;
    padding: 20px;

    background-color: var(--col_bg_2);
}

#jobs-carousel {
    grid-area: carousel;

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 400px;
    width: 100vw;

    background-color: var(--col_bg_3);
}

.jobs-carousel-slide {
    display: none;
    
    margin: 0px;
    height: 90%;
    width: 90%;
}

.jobs-carousel-slide img {
    height: 85%;
    width: auto;
}

.jobs-carousel-slide.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-button {
    color: var(--col_txt_1);
    font-size: 3rem;
}

.carousel-button:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}

.jobs-job-titles {
    width: 100%;
    height: auto;
}

/* #endregion */

/* #region jobs desktop */

@media only screen and (min-width: 768px) {
    
    #jobs-grid-wrapper {
        height: fit-content;
        width: 100vw;
        background-color: var(--col_bg_2);
        
        display: grid;
        grid-template-areas: 
        "header header"
        "intro carousel"
        "footer footer";
    }
    
    #jobs-intro {
        grid-area: intro;
        width: 50vw;
        height: fit-content;
        padding: 20px;
    
        display: flex;
        justify-content: center;

        background-color: var(--col_bg_2);
    }

    #jobs-intro-div {
        width: 60%;
    }
    
    #jobs-carousel {
        grid-area: carousel;
    
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        height: 600px;
        width: 50vw;
    
        background-color: var(--col_bg_3);
    }
    
    .jobs-carousel-slide {
        display: none;
    
        margin: 0px;
        height: 90%;
        width: 90%;
    }
    
}

/* #endregion */

/* #region products */

#products-grid-wrapper {
    width: 100vw;
    height: fit-content;

    background-color: var(--col_bg_2);

    display: grid;
    grid-template-areas: 
    "header"
    "text"
    "products"
    "footer";
}

#products-text {
    grid-area: text;
    width: 100vw;
    height: fit-content;

    padding: 20px;
    background-color: var(--col_bg_2);
}

#products-products {
    background-color: var(--col_bg_3);
    grid-area: products;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 20px;

    gap: 20px;
}

.products-solution {

    width: 90vw;
    height: fit-content;

    background-color: var(--col_bg_2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
}

.products-images {
    width: 100%;
    height: auto;
}

/* #endregion */

/* #region products desktop */

@media only screen and (min-width: 768px) {
    #products-grid-wrapper {
        width: 100vw;
        height: fit-content;
    
        background-color: var(--col_bg_2);
    
        display: grid;
        grid-template-areas: 
        "header"
        "text"
        "products"
        "footer";
    }
    
    #products-text {
        grid-area: text;
        width: 100vw;
        height: fit-content;
    
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 20px;
        background-color: var(--col_bg_2);
    }
    
    #products-text-div {
        width: 50%;
    }

    #products-products-div {
        grid-area: products;
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: var(--col_bg_3);
    }

    #products-products {

        width: 80vw;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        padding: 20px;
        gap: 20px;
    }
    

    .products-solution {
    
        width: 20vw;
        height: fit-content;
    
        background-color: var(--col_bg_2);
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        padding: 10px;
    }

}

/* #endregion */

/* #region about */

#about-grid-wrapper {
    width: 100vw;
    height: fit-content;
    background-color: var(--col_bg_2);
    
    display: grid;
    grid-template-areas: 
    "header"
    "info"
    "reviews"
    "contact"
    "footer";
}

#about-info {
    grid-area: info;
    
    width: 100vw;
    height: fit-content;

    padding: 20px;
}

#about-contact {
    grid-area: contact;

    width: 100vw;
    height: fit-content;

    padding: 20px;

}

#about-reviews {
    grid-area: reviews;
    width: 100vw;
    height: fit-content;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--col_bg_3);
}

#review-list {
    width: 60%;
    gap: 20px;
    list-style-position: inside;
    list-style-type: square;
    color: var(--col_txt_1);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* #endregion */

/* #region about desktop */

@media only screen and (min-width: 768px) {
        
    #about-grid-wrapper {
        width: 100vw;
        height: fit-content;
        background-color: var(--col_bg_2);
        
        display: grid;
        grid-template-areas: 
        "header header"
        "info reviews"
        "contact reviews"
        "footer footer";
    }

    #about-info {
        grid-area: info;
        
        display: flex;
        justify-content: center;

        width: 50vw;
        height: fit-content;

        padding: 20px;
    }

    #about-info-div {
        width: 80%;
    }

    #about-contact {
        grid-area: contact;

        display: flex;
        justify-content: center;

        width: 50vw;
        height: fit-content;

        padding: 20px;

    }

    #about-contact-div {
        width: 80%;
    }

    #about-reviews {
        grid-area: reviews;
        width: 50vw;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    #review-list {
        width: 60%;
        height: 90%;
        gap: 20px;
        list-style-position: inside;
        list-style-type: square;
        color: var(--col_txt_1);
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

}

/* #endregion */

/* #region nav, footer and header stuff */

body {
    background-color: var(--col_bg_1);
}

#big-header {
    position: relative;
    grid-area: header;

    background-color:  var(--col_bg_1);
    
    height: 300px;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


#small-header {
    position: fixed;
    top: -100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 15px;
    padding-right: 15px;

    padding: 20px;

    z-index: 2;

    background-color: var(--col_bg_1);
    height: 100px;
    width: 100vw;
}

#small-header.header-toggle {
    top: 0px;
}

#ham-icon {
    font-size: 2rem;
    color: var(--col_acc_1);
}

nav {
    position: absolute;
    top: 10px;

    z-index: 1;
    width: 100vw;
    height: 50px;

    border-bottom: 1px dashed var(--col_txt_1);
}

nav.header-toggle.nav-toggle {
    position: fixed;
    top: 100px;

    border-top: 1px dashed var(--col_txt_1);
    border-bottom: 0px dashed var(--col_txt_1);

    background-color: var(--col_bg_1);

}
nav a {
    font-family: 'lato', sans-serif;
}

#nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100%;
    height: 100%;
}

.nav-list-element {
    position: relative;

    width: fit-content;
    height: fit-content;

}

.nav-list-link {
    text-decoration: none;
    color: var(--col_acc_2);
    font-size:larger;
}

footer {
    grid-area: footer;
    background-color: var(--col_bg_1);
    color: var(--col_txt_1);
    height: 200px;
    width: 100vw;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px
}

.footer-contact-div {
    gap: 30px;
    display: flex;
    justify-content: center;
}

/* #endregion */
